header{
    background-color: rgb(255, 255, 255);
    width:100% ;
    text-align: center;
}

#logo{
    height: 40px;
    margin:20px;
}  
#tituloPrin{
    display: inline-block; 
    text-align: center;
    font-size: 25px;
    padding-right: 40px;
}

.tituloD{
    color:var(--Blanco);
    z-index: 1;
    font-size: 25px;
}

.primerParr{
    color:var(--Blanco);
    z-index: 1;
    font-size: 17px;
}

.tituloAtletas{
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.imagenAros{
width: 400px;
height: 300px;
display: flex;
}
.mensajeErr{
    font-size: 20px;
}
#contenido{
    display: grid;
    font-size: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    grid-column-gap: 7%;
    grid-row-gap: 30px
}
.nombre{
    font-size: 18px;
} 

#tituloTabla{
    background-color:#134785;
    color: var(--Blanco);
    padding: 30PX;
    display: grid;
    grid-column-gap: 7%; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: bolder;
    font-size: 20px;
}  

.selectores {
    display: flex;
    width: 60%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.botones {
    display: flex;
    width: 20%;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top:10px;
    align-self: center;
}

#Statistics{
    background-color: rgb(255, 255, 255);
    height:300px;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin: 20px;
}

#contenedorCalculos{
    padding-top: 10px;
    font-size:14px;
    font-weight:bolder;
    color: var(--Azul-encabezado);
    text-align: center;
}

#inputsCalculos p{
    color: var(--Azul-encabezado);
    font-size: 19px;
    font-weight: 500;
    margin: 7px 0;
}

.tituloEstadistica{
    text-align: center;
    color: var(--Azul-titulo);
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.botones-calculos{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#contenedorCalculos{
    padding-top: 10px;
    font-size:19px;
    font-weight:bolder;
    color: var(--Azul-encabezado);
    text-align: center;
}

#chart-container{
    display: none;
    height: 240px;
    width: 240px;
    margin: 10px auto;
}

#chart-containerOne{
    display: none;
    height: 240px;
    width: 240px;
    margin: 10px auto;
}
 
@media(min-width: 1440px) and (max-width: 2000px){
.selectores {
  display: flex;
  width: 45%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.botones {
  display: flex;
  width: 15%;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top:10px;
  align-self: center;
}
}