*{padding: 0;margin: 0;} */
body{
    
    font-family: 'Montserrat', sans-serif;
}
/*Header*/
header{
  background-color: white;
    height: 100px;
   /* display: flex;
    flex-flow:row nowrap ;*/
}
#logo{
    height: 50px;
    margin: 5px;
}
#tituloPrin{
    display: inline-block;
    padding: 25px ;
    text-align: center;
    color: #134785;
}

/*SECCION INTRO*/
.intro{
    display: flex;
    justify-content: space-around;
}
#mascotas{
width: 400px;
}
.contenedorParra{
    margin:auto 0;
}

/*Contenido Atletas*/


#atletas{
    padding: 30px;
    background-color: #134785;
    color: white;
}
.tituloD{
color: #134785;
}
.primerParr{
color: #134785;
}
hr{
    padding: 0;
}
p{
    display: inline-block;
    margin:10px 40px;
}
input{

}
