/*
posicionamiento 
modelo caja
tipografia
visuales 
otros
*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap);
:root{
   --Azul-encabezado: #051830;
   --Azul-titulo:#134785;
   --Azul-contenido: #4183D3;
   --Blanco: #FFFFFF;  
}
 *{box-sizing: border-box;
    padding: 0;
    margin: 0;} 

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
header{
background-color: rgb(255, 255, 255);
width:100% ;
 display: flex;
flex-flow:row nowrap ;
justify-content:space-between;
align-items: center; 
}
 #logo{
    height: 30px;
    margin:20px;
} 
#tituloPrin{
    display: inline-block;
    padding: 25px ;
    text-align: center;
    color: #134785;
    font-size: 17px;
}

/*SECCION INTRO*/
.intro{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    /* background-image:url(img/fondopag.png); */
}

.tituloD{
    color:var(--Azul-contenido);
    z-index: 1;
    }
    .primerParr{
    color:var(--Azul-contenido);
    z-index: 1;
    }
/* SECCION INPUT */

#cInput{
    background-color: var(--Azul-encabezado);
    height: 200px;
    color: var(--Blanco);
}
input,select{
    background-color: var(--Azul-encabezado);
    border-radius: 6px;
    border: 1px solid var(--Blanco);
    padding: 5px 10px;
    color: var(--Blanco);

}
::placeholder{
    color: var(--Blanco);
}
#filtrarBoton{
    background-color: var(--Azul-contenido);
    border-radius: 6px;
    padding: 7px 25px;
    border: none;
}
 /* #filtrarBoton:hover{
    background-color: #8fbaee;
}  */
.tituloAtletas{
    text-align: center;
    padding: 15px;
}
.selectores{
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center;
    /* margin: 20px; */
    padding: 10px;
}
.botones{
     display: flex;
    flex-flow: row wrap;
      justify-content: center; 
    /*align-items: center;
     align-self: center; 
    align-content: center;   */
    
}

/*Contenido Atletas*/


#atletas{
    padding: 30px;
    background-color: #4183d3;
    color: #ffffff;
  
    
   
}

hr{
    padding: 0;
}
p{
    display: inline-block;
    
}
input{

}

#contenido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   justify-items: stretch;
   align-items: center;
    grid-column-gap: 100px;
    grid-row-gap: 30px
}

#linea{
    display: none;
}

#tituloTabla{
    background-color:#134785;
    color: #ffffff;
    padding: 30PX;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-column-gap: 100px; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 100px;
    font-weight: bolder;
    font-size:18px;
}

